* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 214);
}

/* navbar style start */
nav.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Tetap di atas saat digulir */
  top: 0;
  left: 0;
  padding: 20px 100px;
  background-color: white;
  z-index: 1000; /* Pastikan di atas elemen lain */
}

.logo{
  font-size: 24px;
  font-weight: 800;
  margin-right: 400px;
}

.navigation > a {
  text-decoration: none;
  font-size: 16px;
  color: #828282;
  font-weight: normal;
  position: relative;
  margin-left: 40px;
}

.navigation > a:hover {
  color: black;
}

.navigation > a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

.navigation > a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
} 

.btnLogin {
  width: 100px;
  height: 40px;
  border: 2px solid #F58634;
  border-radius: 6px;
  cursor: pointer;
  font: 1.1em;
  font-weight: 500;
  color: #F58634;
  margin-left: 40px;
}

.btnLogin:hover {
  transition: all .3s ease-in-out;
  background-color: #f58634;
  color: white;
}

/* navbar style end */

/* members style start */
.slide-container {
  max-width: 950px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  width: 320px;
  border-radius: 25px;
  background-color: #fff;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F58634;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #F58634;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #F58634;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #F58634;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
}

.button:hover {
  background: #de752a;
}

.button:active {
  background: #F58634;
}
/* members style end */