/* product css */
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}

.content-1{
    margin-right: 150px;
    padding-right: 267px;
}

.kotak1{
    width: 804px;
    height: 449px;
    background-color: orange;
    display: flex;
    justify-content:center;
    margin: 76px 62px;
}

.kos1{
    width: 591px;
    height: 318px;
    margin: 69px;
    border-radius: 10px;
}
.descripsi{
    margin: 63px 127px 31px 76px;
    padding: 0px 0px 0px 0px;
}

.content-2{
    margin: 92px -166px 0px -488px;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 5rem;
    margin: 52px 139px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    transition: all;
    cursor: pointer;
    font-size: 20px;
}

nav ul li a:hover{
    transition-duration: .3s;
    background-color: grey;
}

.btn1{
    background-color: red;
    padding: 20px 30px;
    border-radius: 10px;
}

.btn2{
    background-color: darkgreen;
    padding: 20px 30px;
    border-radius: 10px;
}

.review{
    margin: 150px;
}

.rv1{
    width: 400px;
    height: 200px;
    margin: 97px -60px;
}